# Copy to .env and edit
DJANGO_SECRET_KEY=JgoY9EOsFt6JEHzmNG89myo1gER4pXaKFl565FJRESPsNRD3AbGei7tYc6yAe0lhgGQ
DJANGO_DEBUG=1
MYSQL_DATABASE=academic_repository
MYSQL_USER=root
MYSQL_PASSWORD=Ropa@2003
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
